<h1 id="tableLabel">Chamada de API</h1>

<button (click)="getFamilies()">Get Familes from Brazilian Flora </button>
<p></p>
<div *ngIf="error">{{ error }}</div>

<div>
    <div class="table-responsive">
        <table class="center table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Family</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let family of family.result; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{family}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

